/*
  @Author   : Pixel Motive Studio (www.pixelmotivestudio.com)
  @Project  : Shreeji
  @Date     : 01/07/2017;
*/
/* config */
/* Variables.scss */
/* element */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* element.scss */
body {
  background: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #4f4c4d;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 26px;
  font-weight: 900;
  color: #363636; }

p {
  line-height: 26px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
  color: #363636; }

a {
  color: #939393;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus,
  a .active {
    text-decoration: none;
    color: #939393; }
  a:focus {
    outline: none;
    text-decoration: none; }

@media only screen and (max-width: 768px) {
  p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px; } }
/* common */
.cm-not-in-page {
  left: -99999px;
  position: absolute;
  top: -99999px; }

.cm-line-break {
  display: block; }

.with-100 {
  width: 100%; }

.cm-bold {
  font-weight: 700; }

.mail-link {
  color: #f5811f; }

.no-ticker .mod-ticker {
  display: none; }

.text-typ-cut {
  font-size: 35px;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: 900;
  color: #e1e1e1; }
  .text-typ-cut span {
    height: 28px;
    overflow: hidden; }
  .text-typ-cut.typ-excellence {
    margin-top: 30px;
    display: block; }

.horz-scroll {
  overflow-x: auto;
  overflow-y: hidden; }

.cm-bg {
  background: url(../images/main-bg.png) repeat-x 0 0 transparent; }

.error {
  color: red;
  font-size: 13px;
  position: absolute;
  bottom: 86px; }

@media only screen and (max-width: 768px) {
  .error {
    top: 260px;
    bottom: auto; } }
.nav li a:hover, .nav li a:focus {
  background-color: transparent; }

/*
@Author : Fractalink Design Studio
@Project : Garodia
@Dev : Payal, Darshan 
@Date : 22/12/2016;
*/
@font-face {
  font-family: "catchmedia";
  src: url("../fonts/catchmedia.eot");
  src: url("../fonts/catchmedia.eot?#iefix") format("embedded-opentype"), url("../fonts/catchmedia.woff") format("woff"), url("../fonts/catchmedia.ttf") format("truetype"), url("../fonts/catchmedia.svg#catchmedia") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  display: inline-block;
  font: normal normal normal 14px/1 catchmedia;
  font-size: 100%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font: normal normal normal 14px/1 catchmedia;
  font-size: 100%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

.icon-dummy:before {
  content: "\61"; }

.icon-pdown:before {
  content: "\62"; }

.icon-clone:before {
  content: "\63"; }

.icon-campaign:before {
  content: "\64"; }

.icon-share-active:before {
  content: "\65"; }

.icon-share:before {
  content: "\66"; }

.icon-pup:before {
  content: "\67"; }

.icon-arrow-left:before {
  content: "\68"; }

.icon-arrow-right:before {
  content: "\69"; }

.icon-churn-reduction:before {
  content: "\6a"; }

.icon-newsfeed:before {
  content: "\6b"; }

.icon-menu:before {
  content: "\6c"; }

.icon-drawer-menu:before {
  content: "\6d"; }

.icon-notifications:before {
  content: "\6e"; }

.icon-tray-active:before {
  content: "\6f"; }

.icon-more-options:before {
  content: "\70"; }

.icon-workspace:before {
  content: "\71"; }

.icon-report-to-ceo:before {
  content: "\72"; }

.icon-calendar-collapse:before {
  content: "\73"; }

.icon-trending-reports:before {
  content: "\74"; }

.icon-view-metrics:before {
  content: "\75"; }

.icon-save-template:before {
  content: "\76"; }

.icon-edit:before {
  content: "\77"; }

.icon-pause:before {
  content: "\78"; }

.icon-compare:before {
  content: "\79"; }

.icon-clone-1:before {
  content: "\7a"; }

.icon-accept:before {
  content: "\41"; }

.icon-search:before {
  content: "\42"; }

.icon-menu-1:before {
  content: "\43"; }

.icon-sort:before {
  content: "\44"; }

.icon-tray:before {
  content: "\45"; }

.icon-edit-2:before {
  content: "\46"; }

.icon-down-arrow:before {
  content: "\47"; }

.icon-minimize:before {
  content: "\48"; }

.icon-newsfeed-active:before {
  content: "\49"; }

.icon-home:before {
  content: "\4a"; }

.icon-dash-audience:before {
  content: "\4b"; }

.icon-edit-1:before {
  content: "\4c"; }

.icon-delete:before {
  content: "\4d"; }

.icon-tray-share-team:before {
  content: "\4e"; }

.icon-cancel:before {
  content: "\4f"; }

.icon-message:before {
  content: "\50"; }

.icon-sort-by:before {
  content: "\51"; }

.icon-error:before {
  content: "\52"; }

.icon-message-1:before {
  content: "\53"; }

.icon-settings:before {
  content: "\54"; }

.icon-task:before {
  content: "\55"; }

.icon-advertising:before {
  content: "\56"; }

.icon-graph:before {
  content: "\57"; }

.icon-gantt-chart:before {
  content: "\58"; }

.icon-chat:before {
  content: "\59"; }

.icon-audience:before {
  content: "\5a"; }

.icon-pin:before {
  content: "\30"; }

.icon-delivery:before {
  content: "\31"; }

.icon-iconss-60:before {
  content: "\32"; }

.icon-audio-1:before {
  content: "\33"; }

.icon-engage:before {
  content: "\34"; }

.icon-more-options-2:before {
  content: "\35"; }

.icon-iconss-64:before {
  content: "\36"; }

.icon-iconss-67:before {
  content: "\37"; }

.icon-video:before {
  content: "\38"; }

.icon-audio:before {
  content: "\39"; }

.icon-iconss-68:before {
  content: "\21"; }

.icon-pdf:before {
  content: "\22"; }

.icon-rich-text:before {
  content: "\23"; }

.icon-iconss-71:before {
  content: "\24"; }

.icon-iconss-73:before {
  content: "\25"; }

.icon-iconss-74:before {
  content: "\26"; }

.icon-dashboard:before {
  content: "\27"; }

.icon_sprite:before {
  background: transparent url("../images/sprite.png") no-repeat 0 0;
  display: inline-block; }
.icon_sprite.icon_lock:before {
  content: "";
  width: 17px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 10px; }

/* base include */
.bs-sec {
  padding: 60px 0 25px 0;
  border-bottom: 1px dashed #969696; }
  .bs-sec .sec-head .title-desc {
    border: none;
    position: relative;
    height: 27px;
    overflow: hidden; }
    .bs-sec .sec-head .title-desc .title {
      font-size: 35px;
      text-transform: uppercase;
      margin-bottom: 0px;
      color: #363636;
      position: absolute;
      right: 0;
      left: 0;
      top: 3px;
      display: block;
      line-height: 27px; }
      .bs-sec .sec-head .title-desc .title.collapsed {
        color: #e1e1e1; }
        .bs-sec .sec-head .title-desc .title.collapsed:after {
          width: 24px;
          height: 25px;
          background: url(../images/up-arrow.png) no-repeat 0 0 transparent;
          transform: rotate(180deg);
          content: "";
          opacity: 0.3; }
      .bs-sec .sec-head .title-desc .title:hover {
        color: #363636; }
      .bs-sec .sec-head .title-desc .title:after {
        width: 24px;
        height: 25px;
        background: url(../images/up-arrow.png) no-repeat 0 0 transparent;
        content: "";
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 0px;
        opacity: 1; }
    .bs-sec .sec-head .title-desc .para-text {
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 22px; }
  .bs-sec .sec-head .title {
    margin-bottom: 36px; }
    .bs-sec .sec-head .title.text-typ-cut {
      height: 44px;
      overflow: hidden;
      line-height: 58px;
      font-size: 56px; }
      .bs-sec .sec-head .title.text-typ-cut.auto-height {
        height: auto; }
  .bs-sec .sec-head .panel-group .panel {
    background-color: transparent;
    border-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0; }
    .bs-sec .sec-head .panel-group .panel .panel-heading {
      background-color: transparent;
      border-color: transparent;
      padding: 0; }
    .bs-sec .sec-head .panel-group .panel .panel-body {
      border: none; }
    .bs-sec .sec-head .panel-group .panel .para-text {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 22px;
      margin-top: 20px; }
    .bs-sec .sec-head .panel-group .panel .btn-link {
      margin-bottom: 30px; }
  .bs-sec .sec-cont {
    display: block; }
    .bs-sec .sec-cont .list .item {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      font-weight: 300;
      padding-left: 15px;
      margin-bottom: 7px; }
      .bs-sec .sec-cont .list .item:before {
        content: " ";
        width: 6px;
        height: 6px;
        background-color: #f6821f;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 8px; }
    .bs-sec .sec-cont .list.typ-client-list .item {
      border: 1px solid #f3f3f3;
      margin: 1px;
      width: 23%;
      float: left;
      padding: 0 13px; }
      .bs-sec .sec-cont .list.typ-client-list .item .img-wrap {
        width: 100%;
        padding: 10px 0 3px; }
        .bs-sec .sec-cont .list.typ-client-list .item .img-wrap img {
          width: 100%; }
      .bs-sec .sec-cont .list.typ-client-list .item:before {
        content: none; }
  .bs-sec .bs-sub-sec {
    display: block;
    margin-bottom: 80px; }
    .bs-sec .bs-sub-sec .title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 3px;
      text-transform: uppercase; }
    .bs-sec .bs-sub-sec .sub-title {
      font-size: 12px;
      line-height: 14px;
      color: #f5811f;
      font-weight: 500;
      margin-bottom: 26px; }
    .bs-sec .bs-sub-sec:last-child {
      margin-bottom: 0; }
  .bs-sec.typ-video {
    width: 100%;
    padding-bottom: 0px; }
    .bs-sec.typ-video .sec-head .title {
      margin-bottom: 0; }
  .bs-sec.last {
    border-bottom: none; }

@media only screen and (max-width: 768px) {
  .bs-sec {
    padding: 20px 0px 10px 0px;
    border-bottom-style: solid;
    border-bottom-color: #d2d2d2; }
    .bs-sec.typ-video .sec-head .title.text-typ-cut {
      height: 38px;
      line-height: 58px;
      font-size: 34px;
      text-align: center; }
    .bs-sec .sec-head .title {
      margin-bottom: 20px; }
      .bs-sec .sec-head .title.text-typ-cut {
        height: auto;
        font-size: 14px;
        line-height: 16px; }
        .bs-sec .sec-head .title.text-typ-cut span {
          height: auto; }
    .bs-sec .sec-head .title-desc .title {
      font-size: 18px;
      line-height: 25px; }
    .bs-sec .sec-head .title-desc .title:after {
      width: 15px;
      height: 14px;
      right: 10px;
      top: 5px;
      background-size: contain; }
    .bs-sec .sec-head .title-desc .title.collapsed:after {
      background-size: contain;
      width: 15px;
      height: 14px; }
    .bs-sec .sec-head .panel-group .panel .para-text {
      line-height: 14px;
      margin: 15px 0px; }
    .bs-sec .sec-head .panel-group .panel .btn-link {
      margin-bottom: 20px; }
    .bs-sec .sec-cont .list .item {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 10px; }
      .bs-sec .sec-cont .list .item:before {
        width: 6px;
        height: 6px;
        top: 6px; }
    .bs-sec .sec-cont .list.typ-client-list .item {
      width: 48%; }
    .bs-sec .bs-sub-sec {
      margin-bottom: 20px; }
      .bs-sec .bs-sub-sec .title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 20px;
        display: inline-block; }
      .bs-sec .bs-sub-sec .sub-title {
        display: inline-block;
        float: right; }
      .bs-sec .bs-sub-sec .article-slider {
        overflow: hidden;
        padding: 15px 0px;
        margin: 0px -10px; }
        .bs-sec .bs-sub-sec .article-slider .slide-btn {
          text-align: center; }
          .bs-sec .bs-sub-sec .article-slider .slide-btn span {
            width: 8px;
            height: 8px;
            margin: 0px 2px;
            display: inline-block;
            border-radius: 50%;
            background-color: #cccccc;
            cursor: pointer;
            transition: all 0.8s; }
            .bs-sec .bs-sub-sec .article-slider .slide-btn span.active {
              background-color: #f5811f; }
      .bs-sec .bs-sub-sec .list {
        overflow: hidden; }
        .bs-sec .bs-sub-sec .list.articles-list .item {
          display: inline-block;
          float: left;
          width: 100vw;
          padding: 0px;
          left: 0;
          transition: all 0.8s; } }
.btn {
  border: none;
  padding: 10px 12px;
  width: 100%;
  border-radius: 0; }
  .btn.btn-orange {
    background: #f5811f;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff; }
  .btn.btn-link {
    text-align: left;
    padding: 0;
    color: #f5811f; }
    .btn.btn-link:hover {
      text-decoration: none; }

.bs-tab {
  display: block;
  margin-bottom: 80px; }
  .bs-tab .nav-tabs {
    margin-bottom: 56px;
    border-bottom: none; }
    .bs-tab .nav-tabs li {
      margin: 0 10px;
      width: auto; }
      .bs-tab .nav-tabs li a,
      .bs-tab .nav-tabs li a:hover,
      .bs-tab .nav-tabs li a:focus {
        border: none;
        border-bottom: 3px solid transparent;
        padding: 5px 0;
        color: #9b9b9b;
        outline: none;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px; }
      .bs-tab .nav-tabs li:first-child {
        margin: 0 10px 0 0; }
      .bs-tab .nav-tabs li.active a, .bs-tab .nav-tabs li:hover a {
        border-bottom: 3px solid #f5811f;
        color: #000000;
        background: transparent; }
  .bs-tab .mod-search-bar {
    margin-top: -14px;
    display: none; }
  .bs-tab .tab-content {
    margin-top: 20px;
    display: inline-block; }
  .bs-tab.typ-map .tab-content {
    height: 450px;
    overflow: hidden; }
    .bs-tab.typ-map .tab-content .ht-flow {
      overflow-x: hidden;
      overflow-y: auto;
      height: 450px; }
    .bs-tab.typ-map .tab-content .address-map {
      position: relative; }
      .bs-tab.typ-map .tab-content .address-map .location-points {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent; }
        .bs-tab.typ-map .tab-content .address-map .location-points .list {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: transparent;
          z-index: 1; }
          .bs-tab.typ-map .tab-content .address-map .location-points .list.active {
            display: block; }
          .bs-tab.typ-map .tab-content .address-map .location-points .list .item {
            display: inline-block;
            position: absolute;
            padding: 0;
            margin: 0;
            transition: all 0.5s ease;
            z-index: 2; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item:before {
              content: none; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item .active-state {
              opacity: 0; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.active {
              animation-name: pulse;
              animation-duration: 2500ms;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              transform-origin: 50% 100%; }
              .bs-tab.typ-map .tab-content .address-map .location-points .list .item.active .active-state {
                opacity: 1; }
              .bs-tab.typ-map .tab-content .address-map .location-points .list .item.active .deactive-state {
                opacity: 0; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item .point {
              position: absolute;
              transition: all 0.5s ease; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mum-va {
              top: 265px;
              left: 250px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.bnglr-yash {
              top: 328px;
              left: 285px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.chn-vella {
              top: 323px;
              left: 330px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.ahmd-narol {
              top: 190px;
              left: 225px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.guj-baroda {
              top: 201px;
              left: 240px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.guj-vapi {
              top: 230px;
              left: 235px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mah-pune {
              top: 265px;
              left: 270px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mah-kol {
              top: 285px;
              left: 270px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.tel-hyd {
              top: 285px;
              left: 310px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.kar-hubli {
              top: 318px;
              left: 280px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.tn-mad {
              top: 350px;
              left: 300px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.tn-tut {
              top: 370px;
              left: 315px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.tn-com {
              top: 340px;
              left: 275px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.ker-koc {
              top: 360px;
              left: 265px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.ncr-del {
              top: 110px;
              left: 290px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.ncr-noi {
              top: 120px;
              left: 300px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.ut-har {
              top: 90px;
              left: 315px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mum-ad {
              top: 250px;
              left: 235px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mum-dr {
              top: 270px;
              left: 235px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mum-city {
              top: 290px;
              left: 235px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mum-bhi {
              top: 240px;
              left: 250px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.ahmd-city {
              top: 200px;
              left: 215px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.guj-ankl {
              top: 190px;
              left: 258px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.guj-sur {
              top: 201px;
              left: 240px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mp-ind {
              top: 165px;
              left: 292px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.bnglr-city {
              top: 320px;
              left: 295px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.kar-mys {
              top: 320px;
              left: 265px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.mum-kal {
              top: 265px;
              left: 270px; }
            .bs-tab.typ-map .tab-content .address-map .location-points .list .item.wb-kol {
              top: 195px;
              left: 435px; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@media only screen and (max-width: 768px) {
  .bs-tab .nav-container {
    overflow-x: auto;
    overflow-y: hidden; }
    .bs-tab .nav-container::-webkit-scrollbar {
      display: none; }
  .bs-tab.typ-map .tab-content {
    width: 100%;
    height: auto; }
    .bs-tab.typ-map .tab-content .address-map {
      display: none; }
    .bs-tab.typ-map .tab-content .ht-flow {
      height: auto; } }
.modal .modal-header .close {
  width: 20px;
  height: 20px; }
  .modal .modal-header .close img {
    width: 100%; }
.modal .modal-body {
  min-height: 400px; }
  .modal .modal-body .download-list ul {
    height: 400px;
    overflow-y: auto; }
    .modal .modal-body .download-list ul li a {
      display: inline-block;
      padding: 10px;
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
      background: #efefef;
      vertical-align: middle; }
      .modal .modal-body .download-list ul li a .icon {
        display: inline-block;
        background: url(../images/pdf.png) no-repeat 0 0 transparent;
        width: 25px;
        height: 33px;
        background-size: contain;
        margin-right: 9px;
        vertical-align: middle; }
      .modal .modal-body .download-list ul li a .text {
        font-size: 16px;
        line-height: 20px;
        color: #4f4c4d;
        font-weight: 300;
        display: inline-block; }
      .modal .modal-body .download-list ul li a:hover {
        background: #cacaca; }
  .modal .modal-body.typ-form .mod-inquiry-form {
    position: relative;
    width: auto;
    top: auto;
    right: auto; }
  .modal .modal-body.typ-track {
    min-height: auto; }
    .modal .modal-body.typ-track .statu-bar {
      margin-bottom: 20px;
      display: inline-block;
      width: 100%;
      text-align: center; }
      .modal .modal-body.typ-track .statu-bar .title {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 20px; }
      .modal .modal-body.typ-track .statu-bar ul li {
        width: 100%;
        float: left;
        margin-right: 1px;
        padding: 20px;
        font-size: 16px;
        line-height: 18px;
        color: #000; }
        .modal .modal-body.typ-track .statu-bar ul li.start.done {
          background: red; }
        .modal .modal-body.typ-track .statu-bar ul li.process.done {
          background: yellow; }
        .modal .modal-body.typ-track .statu-bar ul li.complete.done {
          background: #00ea00; }
    .modal .modal-body.typ-track .act-wrap {
      text-align: center; }
      .modal .modal-body.typ-track .act-wrap .btn {
        background: #f5811f;
        color: #ffffff;
        width: auto; }
    .modal .modal-body.typ-track .details {
      display: none;
      margin-top: 30px; }
      .modal .modal-body.typ-track .details.active {
        display: block; }
      .modal .modal-body.typ-track .details ul {
        background: #f3f3f3;
        padding: 16px; }
        .modal .modal-body.typ-track .details ul li {
          padding: 3px 5px; }
        .modal .modal-body.typ-track .details ul .title {
          float: left;
          width: 200px;
          font-weight: 500;
          padding-right: 20px; }
        .modal .modal-body.typ-track .details ul .decs {
          overflow: hidden;
          font-weight: 300; }
.modal .modal-title {
  font-size: 18px;
  line-height: 20px; }

@media only screen and (max-width: 768px) {
  .modal .modal-header .close {
    width: 15px;
    height: 15px; }
  .modal .modal-body {
    min-height: 300px; }
    .modal .modal-body .download-list ul {
      height: auto; }
    .modal .modal-body.typ-track .statu-bar ul li {
      width: 100%; }
    .modal .modal-body.typ-track .details ul .title,
    .modal .modal-body.typ-track .details ul .decs {
      width: 100%;
      padding-right: 0; }
    .modal .modal-body.typ-track .details ul .decs {
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #d2d2d2; } }
/* modules */
.mod-form .form-title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 700; }
.mod-form .input-group {
  padding: 5px; }
.mod-form .mod-select-tag {
  margin: 10px 0; }
.mod-form .list-group .list-item {
  margin: 10px 0; }

.mod-banner.banner1 {
  background: url(../images/banner1.png) no-repeat right -40px transparent;
  background-size: contain; }
.mod-banner.inner-banner {
  background: url(../images/innerbanner.png) no-repeat 90% -40px transparent;
  background-size: contain;
  height: 366px; }
  .mod-banner.inner-banner.banner-hra {
    background: url(../images/innerbanner-hra.png) no-repeat 85% 0 transparent;
    background-size: contain;
    height: 300px; }
  .mod-banner.inner-banner.banner-solutions {
    background: url(../images/innerbanner-solutions.png) no-repeat 90% bottom transparent;
    background-size: contain;
    height: 300px; }
  .mod-banner.inner-banner.typ-contact {
    background: url(../images/contact.png) no-repeat 90% bottom transparent;
    background-size: contain;
    height: 300px; }
.mod-banner .banner-desc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .mod-banner .banner-desc .banner-title {
    font-size: 42px;
    line-height: 44px;
    text-transform: uppercase;
    padding-top: 64px; }
  .mod-banner .banner-desc .banner-sub-title {
    font-size: 17px;
    line-height: 19px;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 13px;
    display: inline-block; }
    .mod-banner .banner-desc .banner-sub-title:before {
      content: "";
      height: 1px;
      width: 140%;
      background: #cfc1b5;
      display: block;
      top: -13px;
      position: relative; }

@media only screen and (max-width: 768px) {
  .mod-banner {
    height: 100%; }
    .mod-banner.banner1 {
      background: url("../images/banner1-mob.png") no-repeat transparent;
      background-position: 45vw center; }
    .mod-banner.inner-banner {
      height: 100%;
      margin-top: 50px; }
      .mod-banner.inner-banner .banner-desc {
        margin-top: 0px;
        top: auto;
        bottom: 0px; }
        .mod-banner.inner-banner .banner-desc .banner-title {
          padding-top: 0px; }
      .mod-banner.inner-banner.banner-hra {
        background-size: contain;
        height: 100%; }
      .mod-banner.inner-banner.banner-solutions {
        background-position: center center;
        height: 100%; }
      .mod-banner.inner-banner.typ-contact {
        background-position: center center;
        height: 100%; }
    .mod-banner .banner-desc {
      margin-top: -80px;
      transform: none; }
      .mod-banner .banner-desc .banner-sub-title {
        font-size: 12px;
        line-height: 14px;
        top: auto;
        bottom: 45px; }
        .mod-banner .banner-desc .banner-sub-title:before {
          content: none; }
      .mod-banner .banner-desc .banner-title {
        font-size: 24px;
        line-height: 26px;
        padding-top: 170px; }
    .mod-banner .track-link {
      display: block;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      padding: 15px 0px;
      background-color: #f5811f;
      position: relative;
      top: 100%;
      color: #ffffff;
      margin: 0 5px; } }
.mod-track-form {
  position: relative;
  width: 330px;
  height: 350px;
  margin-top: 30px;
  padding: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 17px -3px #bdbdbd;
  -moz-box-shadow: 0px 0px 17px -3px #bdbdbd;
  box-shadow: 0px 0px 17px -3px #bdbdbd; }
  .mod-track-form .form-title {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px; }
  .mod-track-form .para-text {
    font-size: 12px;
    line-height: 14px;
    color: #4f4c4d;
    margin-bottom: 40px; }
  .mod-track-form .form-group {
    margin-bottom: 30px; }
    .mod-track-form .form-group .form-control {
      background: #f8f8f8;
      border: none;
      box-shadow: none;
      color: #989898;
      font-size: 12px;
      line-height: 14px;
      border-radius: 0;
      height: 45px; }
  .mod-track-form .btn.btn-orange {
    height: 45px; }

@media only screen and (max-width: 768px) {
  .mod-track-form {
    position: fixed;
    z-index: 9;
    top: -100%;
    left: 0;
    right: 0;
    padding: 0px;
    transition: all 0.8s;
    width: auto;
    padding: 30px 10px;
    margin-top: 0px; }
    .mod-track-form .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 7%; }
      .mod-track-form .close-btn span {
        display: block;
        background-color: #363636;
        height: 2px;
        margin-bottom: 5px;
        transition: all 0.5s;
        position: relative; }
        .mod-track-form .close-btn span:nth-of-type(1) {
          transform: rotate(-45deg);
          bottom: -6px; }
        .mod-track-form .close-btn span:nth-of-type(2) {
          transform: rotate(45deg); }
    .mod-track-form.active {
      top: 50px;
      height: auto;
      bottom: 0; } }
.mod-certified {
  display: block;
  padding: 30px 0; }
  .mod-certified .title {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .mod-certified img {
    float: left;
    margin-right: 10px; }
  .mod-certified .certified-desc {
    overflow: hidden;
    margin-top: 10px;
    display: block; }
    .mod-certified .certified-desc p {
      margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  .mod-certified {
    padding: 80px 0px 15px; }
    .mod-certified .title {
      font-size: 14px;
      line-height: 16px; }
    .mod-certified .certified-desc p {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 0px; } }
.mod-search-bar .input-group {
  background: #f8f8f8; }
  .mod-search-bar .input-group .form-control {
    border: none;
    height: 42px;
    box-shadow: none;
    background: transparent;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300; }
  .mod-search-bar .input-group .input-group-btn .btn {
    background: url(../images/sprite.png) no-repeat 0 11px transparent;
    text-indent: -99999px; }
    .mod-search-bar .input-group .input-group-btn .btn:focus {
      outline: none;
      box-shadow: none; }

.mod-address {
  display: block;
  margin-bottom: 15px;
  box-shadow: none;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  overflow: hidden; }
  .mod-address .title-wrap {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 24px;
    z-index: 2;
    position: relative;
    background: transparent;
    transition: all 0.5s ease; }
    .mod-address .title-wrap:before {
      width: 25px;
      height: 25px;
      background: url("../images/up-arrow.png") no-repeat 0 0 transparent;
      content: " ";
      font-size: 16px;
      line-height: 18px;
      z-index: 1;
      position: absolute;
      right: 15px;
      top: 5px;
      color: #363636; }
    .mod-address .title-wrap.collapsed:before {
      content: " ";
      transform: rotate(180deg); }
  .mod-address .title {
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 300; }
  .mod-address .sub-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase; }
  .mod-address .contact-us {
    padding-top: 24px; }
    .mod-address .contact-us li {
      margin-bottom: 18px; }
      .mod-address .contact-us li .title {
        margin-bottom: 2px;
        font-size: 12px;
        line-height: 14px;
        display: block;
        font-weight: 500; }
      .mod-address .contact-us li .desc {
        font-size: 12px;
        line-height: 14px; }
      .mod-address .contact-us li a.desc {
        color: #f5811f; }

@media only screen and (max-width: 768px) {
  .mod-address .address-map img {
    width: 100%; }
  .mod-address .title-wrap {
    padding-bottom: 18px; }
  .mod-address .title {
    font-size: 24px;
    line-height: 26px; } }
.mod-img-desc {
  display: block;
  position: relative; }
  .mod-img-desc .img {
    height: 172px;
    margin-bottom: 10px;
    position: relative; }
    .mod-img-desc .img img {
      height: 100%; }
  .mod-img-desc .videos {
    position: relative;
    margin-bottom: 10px; }
    .mod-img-desc .videos .btn-play {
      background: url(../images/play.png) no-repeat center center rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .mod-img-desc .videos img {
      width: 100%; }
  .mod-img-desc .desc .title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #363636; }
  .mod-img-desc .desc .meta-date {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 11px;
    display: block;
    color: #5a5758; }
  .mod-img-desc .desc p {
    font-size: 12px;
    line-height: 14px;
    color: #5a5758; }
  .mod-img-desc.typ-articles .img {
    height: auto; }
    .mod-img-desc.typ-articles .img img {
      height: auto;
      width: 100%; }
  .mod-img-desc.typ-articles .desc {
    border-bottom: 1px solid #eaeaea; }
  .mod-img-desc .link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }

@media only screen and (max-width: 768px) {
  .mod-img-desc .img {
    height: 60px; }
    .mod-img-desc .img img {
      width: 100%; }
  .mod-img-desc.typ-articles {
    overflow: hidden;
    padding: 0px 10px; }
    .mod-img-desc.typ-articles .img {
      float: left;
      width: 30%; }
    .mod-img-desc.typ-articles .desc {
      float: left;
      width: 70%;
      padding-left: 10px;
      border: none;
      margin-bottom: 10px;
      padding-bottom: 10px; }
  .mod-img-desc .videos {
    float: left;
    width: 30%; }
  .mod-img-desc .desc .title {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500; }
  .mod-img-desc .desc .meta-date {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px; }
  .mod-img-desc .desc p {
    font-size: 13px;
    line-height: 15px; } }
.mod-partners {
  background: #f6821f;
  display: block;
  text-align: center;
  margin-top: -2px;
  position: relative; }
  .mod-partners ul li {
    float: left;
    width: 20%; }
    .mod-partners ul li a {
      display: block;
      text-align: center;
      padding: 20px; }
      .mod-partners ul li a img {
        width: 100%; }
  .mod-partners .swiper-pagination {
    bottom: -1px; }
    .mod-partners .swiper-pagination .swiper-pagination-bullet {
      width: 50px;
      height: 3px;
      border-radius: 0%; }
    .mod-partners .swiper-pagination .swiper-pagination-bullet-active {
      background: #ffffff; }

@media only screen and (max-width: 768px) {
  .mod-partners {
    overflow-x: auto;
    overflow-y: hidden; }
    .mod-partners::-webkit-scrollbar {
      display: none; }
    .mod-partners ul li {
      width: auto;
      margin-right: 10px; }
      .mod-partners ul li a {
        padding: 12px 3px; }
    .mod-partners img {
      width: 60%; } }
.mod-count {
  margin: 0px 0 45px;
  display: inline-block; }
  .mod-count ul li {
    float: left;
    border-right: 1px solid #d9d9d9;
    padding: 0 30px; }
    .mod-count ul li:last-child {
      border: none; }
    .mod-count ul li > span {
      display: block;
      margin-bottom: 10px; }
      .mod-count ul li > span.count {
        font-size: 60px;
        line-height: 62px;
        font-weight: 700; }
      .mod-count ul li > span.text {
        font-size: 20px;
        line-height: 22px;
        font-weight: 300; }

@media only screen and (max-width: 768px) {
  .mod-count ul li {
    padding: 0 13px; }
    .mod-count ul li > span {
      margin-bottom: 0px; }
      .mod-count ul li > span.count {
        font-size: 38px;
        line-height: 40px; }
      .mod-count ul li > span.text {
        font-size: 14px;
        line-height: 16px; } }
.mod-card {
  border-left: 1px solid #ababab;
  margin: 0px 0 80px 0;
  padding-left: 25px;
  position: relative;
  width: 100%;
  float: left; }
  .mod-card .title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #f5811f;
    margin-bottom: 4px;
    display: block; }
  .mod-card .meta-place {
    font-size: 20px;
    line-height: 22px;
    color: #b2b2b2;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 16px;
    display: block; }
  .mod-card dl {
    float: left;
    width: 50%;
    color: #363636; }
    .mod-card dl dt {
      font-size: 16px;
      line-height: 18px;
      font-weight: 300; }
    .mod-card dl dd {
      font-size: 16px;
      line-height: 18px;
      font-weight: 800; }
  .mod-card .state-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    transition: all 0.9s ease 0.1s;
    display: none; }
    .mod-card .state-hover .btn {
      width: 100px;
      margin-top: -17px;
      top: 50%;
      position: relative;
      color: #333333;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600; }
  .mod-card:hover {
    transition: all 0.9s ease 0.1s;
    cursor: pointer; }
    .mod-card:hover .state-hover {
      display: block; }

@media only screen and (max-width: 768px) {
  .mod-card {
    border-left: none;
    padding-left: 0;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e4e4e4; } }
.mod-inquiry-form {
  position: absolute;
  width: 35%;
  right: 0;
  top: 87px; }
  .mod-inquiry-form form {
    overflow: hidden; }
  .mod-inquiry-form .form-title {
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #f5811f;
    margin-bottom: 20px; }
  .mod-inquiry-form .form-group {
    margin-bottom: 30px;
    position: relative; }
    .mod-inquiry-form .form-group .form-control {
      background: #f8f8f8;
      border: none;
      box-shadow: none;
      color: #c4c4c4;
      font-size: 16px;
      line-height: 18px;
      border-radius: 0;
      height: 45px;
      padding: 6px 30px 6px 25px; }
      .mod-inquiry-form .form-group .form-control::-webkit-input-placeholder {
        color: #c4c4c4; }
      .mod-inquiry-form .form-group .form-control::-moz-placeholder {
        color: #c4c4c4; }
      .mod-inquiry-form .form-group .form-control::-ms-input-placeholder {
        color: #c4c4c4; }
    .mod-inquiry-form .form-group textarea.form-control {
      height: 145px;
      resize: none;
      padding-top: 15px;
      padding-bottom: 15px; }
      .mod-inquiry-form .form-group textarea.form-control::-webkit-input-placeholder {
        color: #c4c4c4; }
      .mod-inquiry-form .form-group textarea.form-control::-moz-placeholder {
        color: #c4c4c4; }
      .mod-inquiry-form .form-group textarea.form-control::-ms-input-placeholder {
        color: #c4c4c4; }
    .mod-inquiry-form .form-group.typ-comp:after {
      content: "*";
      color: #f5811f;
      font-size: 30px;
      position: absolute;
      right: 15px;
      top: 15px;
      font-weight: 100; }
  .mod-inquiry-form .btn {
    text-transform: uppercase;
    color: #333333;
    width: 135px;
    float: right;
    font-size: 16px;
    line-height: 18px; }
    .mod-inquiry-form .btn.btn-orange {
      height: 40px; }

@media only screen and (max-width: 768px) {
  .mod-inquiry-form .form-title {
    font-size: 25px;
    line-height: 17px; }
  .mod-inquiry-form .form-group .form-control {
    padding: 6px 30px 6px 12px; } }
.mod-download-list .item {
  border: 1px solid #e8e8e8;
  padding: 10px;
  margin: 5px;
  position: relative;
  height: 220px; }
  .mod-download-list .item a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/iconpdf.png) no-repeat center 10px transparent;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    color: #333333; }
    .mod-download-list .item a span {
      position: absolute;
      bottom: 10px;
      right: 10px;
      left: 10px; }

.mod-advertise-with-us {
  display: block;
  padding: 20px 0; }
  .mod-advertise-with-us .img-wrap {
    float: left;
    width: 400px;
    margin-right: 40px;
    position: relative; }
    .mod-advertise-with-us .img-wrap .title {
      position: absolute;
      padding: 20px;
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      right: 0;
      left: 0; }
    .mod-advertise-with-us .img-wrap img {
      width: 100%; }
  .mod-advertise-with-us .dics {
    overflow: hidden; }
    .mod-advertise-with-us .dics p {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 26px; }
    .mod-advertise-with-us .dics .btn.btn-orange {
      background: #333333;
      width: auto;
      text-transform: uppercase;
      letter-spacing: 1px; }

@media only screen and (max-width: 768px) {
  .mod-advertise-with-us {
    padding: 10px 0px;
    overflow-x: hidden;
    overflow-y: auto; }
    .mod-advertise-with-us .img-wrap {
      float: none;
      width: 100%;
      margin-right: 0px;
      margin-bottom: 20px; }
      .mod-advertise-with-us .img-wrap .title {
        padding: 0px; }
    .mod-advertise-with-us .dics {
      padding-bottom: 50px; }
      .mod-advertise-with-us .dics p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px; } }
/* layouts */
.lyt-header {
  display: inline-block;
  background: #ffffff;
  width: 100%; }
  .lyt-header .logo {
    float: left;
    padding: 6px 20px; }
    .lyt-header .logo img {
      position: relative;
      top: 3px; }
  .lyt-header .rhs {
    float: right; }
    .lyt-header .rhs .nav-bar {
      float: left;
      padding: 23px 21px 0; }
      .lyt-header .rhs .nav-bar .nav-list .nav-item {
        position: relative;
        float: left;
        margin: 0 10px; }
        .lyt-header .rhs .nav-bar .nav-list .nav-item a {
          text-transform: uppercase;
          font-size: 12px;
          line-height: 18px;
          color: #787777;
          font-weight: 500; }
        .lyt-header .rhs .nav-bar .nav-list .nav-item.active, .lyt-header .rhs .nav-bar .nav-list .nav-item:hover {
          transition: all 0.5s ease 0s; }
          .lyt-header .rhs .nav-bar .nav-list .nav-item.active a, .lyt-header .rhs .nav-bar .nav-list .nav-item:hover a {
            transition: all 0.5s ease 0s;
            color: #f5811f; }
            .lyt-header .rhs .nav-bar .nav-list .nav-item.active a:after, .lyt-header .rhs .nav-bar .nav-list .nav-item:hover a:after {
              content: "";
              width: 18px;
              height: 2px;
              background: #4f4c4d;
              display: block;
              position: relative;
              top: 2px;
              transition: all 0.5s ease 0.6s; }
          .lyt-header .rhs .nav-bar .nav-list .nav-item.active .sub-menu, .lyt-header .rhs .nav-bar .nav-list .nav-item:hover .sub-menu {
            display: block; }
        .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu {
          display: none;
          position: absolute;
          width: 250px;
          z-index: 12;
          right: 0;
          border-radius: 1px;
          background: rgba(246, 141, 53, 0.92); }
          .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu li a {
            padding: 10px 18px;
            display: block;
            color: #ffffff; }
            .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu li a:after {
              content: none; }
            .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu li a:hover:after {
              content: "";
              width: 18px;
              height: 2px;
              background: #4f4c4d;
              display: block;
              position: relative;
              top: 2px;
              transition: all 0.5s ease 0.6s; }
    .lyt-header .rhs .btn-language {
      background: url(../images/language.png) no-repeat center center #393536;
      height: 61px;
      width: 61px;
      float: left; }
  .lyt-header .mod-ticker {
    float: left;
    width: 100%;
    padding: 6px 0;
    background: #f68d35;
    color: #363636;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500; }

@media only screen and (max-width: 768px) {
  .lyt-header {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 11;
    background: #fff;
    top: 0;
    -webkit-box-shadow: 0px 2px 5px 0px #a6a6a6;
    -moz-box-shadow: 0px 2px 5px 0px #a6a6a6;
    box-shadow: 0px 2px 5px 0px #a6a6a6; }
    .lyt-header .menu-btn {
      float: left;
      width: 7%;
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%); }
      .lyt-header .menu-btn span {
        display: block;
        background-color: #363636;
        height: 2px;
        margin-bottom: 5px;
        transition: all 0.8s;
        position: relative; }
        .lyt-header .menu-btn span:last-child {
          margin-bottom: 0; }
      .lyt-header .menu-btn.active span:nth-of-type(1) {
        transform: rotate(-45deg);
        bottom: -6px; }
      .lyt-header .menu-btn.active span:nth-of-type(2) {
        transform: rotate(45deg); }
      .lyt-header .menu-btn.active span:nth-of-type(3) {
        opacity: 0; }
    .lyt-header .logo {
      width: 66%;
      height: 100%;
      left: 5px;
      position: relative;
      display: inline-block;
      padding: 5px 10px; }
      .lyt-header .logo img {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    .lyt-header .rhs {
      float: none; }
      .lyt-header .rhs .btn-language {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        float: none;
        display: none; }
      .lyt-header .rhs .nav-bar {
        position: fixed;
        top: 50px;
        left: 100%;
        right: -100%;
        bottom: 0;
        background: #fff;
        transition: all 0.5s; }
        .lyt-header .rhs .nav-bar .nav-list .nav-item {
          display: block;
          float: none;
          margin: 0px;
          border-bottom: 1px solid #eaeaea; }
          .lyt-header .rhs .nav-bar .nav-list .nav-item a {
            display: block;
            padding: 16px 20px;
            font-size: 16px;
            line-height: 18px;
            text-align: center; }
          .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu-wrap {
            position: fixed;
            top: 0;
            right: 100%;
            bottom: 0;
            left: -100%;
            display: block;
            width: 100%;
            overflow-y: auto;
            padding: 40px 0px 20px;
            z-index: 12;
            background: rgba(246, 141, 53, 0.92);
            transition: all 0.5s; }
            .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu-wrap .sub-menu {
              position: relative;
              width: 100%;
              display: block;
              background: transparent; }
            .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu-wrap .close-btn {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 15px;
              height: 15px;
              padding: 0px; }
              .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu-wrap .close-btn img {
                width: 100%; }
            .lyt-header .rhs .nav-bar .nav-list .nav-item .sub-menu-wrap.active {
              right: 0;
              left: 0;
              transition: all 0.5s; }
        .lyt-header .rhs .nav-bar.active {
          right: 0;
          left: 0;
          float: none;
          margin: 0px;
          z-index: 11;
          padding: 0px 0 22px;
          border-top: 1px solid #eaeaea; }
          .lyt-header .rhs .nav-bar.active .nav-list {
            overflow-y: auto; }
            .lyt-header .rhs .nav-bar.active .nav-list .nav-item a:after {
              content: none; } }
.lyt-footer {
  background: #333333;
  padding-top: 40px;
  position: relative; }
  .lyt-footer .footer-nav {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #5c5c5c;
    overflow: hidden; }
    .lyt-footer .footer-nav li .title {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 20px;
      font-weight: 500; }
    .lyt-footer .footer-nav li .quick-links .list-item {
      margin-bottom: 12px; }
      .lyt-footer .footer-nav li .quick-links .list-item a {
        font-size: 12px;
        line-height: 14px;
        color: #5c5c5c;
        text-transform: capitalize; }
        .lyt-footer .footer-nav li .quick-links .list-item a:hover {
          color: #999999; }
    .lyt-footer .footer-nav li .quick-links.typ-app .list-item {
      float: left;
      margin-right: 20px; }
      .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon {
        background: url(../images/sprite.png) no-repeat 2px -68px transparent;
        width: 22px;
        height: 30px;
        display: block; }
        .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-addroid {
          background-position: 2px -68px; }
        .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-apple {
          background-position: 2px -138px; }
        .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-windows {
          background-position: 2px -209px; }
        .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-fb {
          background-position: 2px -279px;
          filter: grayscale(100%);
          transition-duration: .5s; }
          .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-fb:hover {
            filter: grayscale(0%); }
        .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-tube {
          background-position: 0px -353px;
          filter: grayscale(100%);
          transition-duration: .5s; }
          .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-tube:hover {
            filter: grayscale(0%); }
        .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-in {
          background-position: 0px -413px;
          filter: grayscale(100%);
          transition-duration: .5s; }
          .lyt-footer .footer-nav li .quick-links.typ-app .list-item .icon.icon-in:hover {
            filter: grayscale(0%); }
    .lyt-footer .footer-nav li .input-group .form-control {
      background: #3d3d3d;
      border: none;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #fff; }
      .lyt-footer .footer-nav li .input-group .form-control:focus {
        outline: none;
        box-shadow: none; }
    .lyt-footer .footer-nav li .input-group .input-group-btn .btn {
      background: #f6821f;
      color: #333333;
      text-transform: uppercase;
      padding: 7px 12px;
      font-weight: 500; }
      .lyt-footer .footer-nav li .input-group .input-group-btn .btn:focus {
        outline: none;
        box-shadow: none; }
  .lyt-footer .copyright {
    font-size: 12px;
    line-height: 14px;
    color: #6a6a6a;
    margin-bottom: 60px; }
    .lyt-footer .copyright .cm-bold {
      color: #f5811f;
      font-weight: 400; }

@media only screen and (max-width: 768px) {
  .lyt-footer .footer-nav {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px; }
    .lyt-footer .footer-nav li .title {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 15px; }
    .lyt-footer .footer-nav li .quick-links.typ-app {
      overflow: hidden;
      padding: 0; }
      .lyt-footer .footer-nav li .quick-links.typ-app .list-item {
        float: none;
        display: inline-block; }
    .lyt-footer .footer-nav li .quick-links .list-item a {
      font-size: 14px;
      line-height: 16px; }
    .lyt-footer .footer-nav li .input-group {
      padding-bottom: 20px; }
      .lyt-footer .footer-nav li .input-group .form-control {
        font-size: 14px;
        line-height: 16px; }
    .lyt-footer .footer-nav > li {
      padding-bottom: 25px; } }
.lyt-banner {
  position: relative; }

@media only screen and (max-width: 768px) {
  .lyt-banner {
    height: 320px; } }
.lyt-aboutus .bs-tab {
  margin-bottom: 30px; }
  .lyt-aboutus .bs-tab .nav-tabs {
    margin-bottom: 0; }
  .lyt-aboutus .bs-tab .tab-content {
    margin-top: 0;
    width: 100%; }
  .lyt-aboutus .bs-tab .bs-sec {
    display: inline-block;
    width: 100%; }
    .lyt-aboutus .bs-tab .bs-sec .sec-cont .text {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 35px;
      font-weight: 300;
      color: #363636; }
    .lyt-aboutus .bs-tab .bs-sec .sec-cont .img-wrap {
      text-align: center; }
      .lyt-aboutus .bs-tab .bs-sec .sec-cont .img-wrap img {
        max-width: 100%;
        width: auto; }
.lyt-aboutus .mod-certified {
  padding: 0px 0 30px;
  display: inline-block; }
  .lyt-aboutus .mod-certified .certified-desc {
    margin-top: 5px; }
.lyt-aboutus.typ-solutions {
  position: relative;
  min-height: 800px; }
  .lyt-aboutus.typ-solutions .bs-tab .tab-content {
    padding-right: 45%; }
  .lyt-aboutus.typ-solutions .bs-sec:last-of-type {
    border: none; }
  .lyt-aboutus.typ-solutions .bs-sec .sec-cont {
    padding-right: 15px; }
    .lyt-aboutus.typ-solutions .bs-sec .sec-cont .text {
      font-size: 14px; }

@media only screen and (max-width: 768px) {
  .lyt-aboutus .bs-tab .bs-sec .sec-cont .text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px; }
  .lyt-aboutus .mod-certified {
    padding: 20px 0 30px; }
  .lyt-aboutus.typ-solutions .bs-tab .tab-content {
    padding-right: 0; }
  .lyt-aboutus.typ-solutions .mod-inquiry-form {
    position: relative;
    top: auto;
    right: auto;
    margin-bottom: 30px;
    margin: 0 10px 30px;
    width: auto; } }
.lyt-about-truck .mod-img-desc {
  margin: 0 10px 30px; }
  .lyt-about-truck .mod-img-desc .img {
    height: auto;
    text-align: left; }
    .lyt-about-truck .mod-img-desc .img img {
      height: auto;
      width: 100%; }
  .lyt-about-truck .mod-img-desc .desc {
    color: #363636;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300; }
    .lyt-about-truck .mod-img-desc .desc .clr-orange {
      color: #f5811f; }

@media only screen and (max-width: 768px) {
  .lyt-about-truck .mod-img-desc .desc {
    font-size: 16px;
    line-height: 18px; } }
.lyt-card {
  margin: 60px 0 0 0; }

@media only screen and (max-width: 768px) {
  .lyt-card li:last-child .mod-card {
    border-bottom: none;
    padding: 0;
    margin: 0; } }
@media only screen and (max-width: 768px) {
  .lyt-content {
    padding-top: 30px; } }
.lyt-advertise-with-us {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s ease; }
  .lyt-advertise-with-us.active {
    position: absolute; }
    .lyt-advertise-with-us.active .cont {
      display: block; }
    .lyt-advertise-with-us.active .close-btn {
      display: block; }
  .lyt-advertise-with-us .btn-ad {
    position: relative;
    z-index: 8;
    display: block;
    width: 140px;
    margin: 0 auto;
    background: #f6821f;
    border: none;
    color: #fff;
    padding: 7px 10px;
    font-size: 12px; }
    .lyt-advertise-with-us .btn-ad:after {
      width: 0;
      height: 0;
      border-bottom: 26px solid #f6821f;
      border-right: 26px solid transparent;
      content: "";
      position: absolute;
      bottom: 0;
      right: -26px; }
    .lyt-advertise-with-us .btn-ad:before {
      width: 0;
      height: 0;
      border-bottom: 26px solid #f6821f;
      border-left: 26px solid transparent;
      content: "";
      position: absolute;
      bottom: 0;
      left: -26px; }
    .lyt-advertise-with-us .btn-ad:focus {
      outline: none; }
  .lyt-advertise-with-us .cont {
    background: #f5811f;
    padding: 40px 0;
    -webkit-box-shadow: 0px -1px 5px 0px black;
    -moz-box-shadow: 0px -1px 5px 0px black;
    box-shadow: 0px -1px 5px 0px black; }
    .lyt-advertise-with-us .cont .title {
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 20px; }
    .lyt-advertise-with-us .cont .swiper-pagination {
      bottom: 0px;
      width: auto; }
      .lyt-advertise-with-us .cont .swiper-pagination .swiper-pagination-bullet-active {
        background: #000; }
    .lyt-advertise-with-us .cont .mod-advertise-with-us .img-wrap .title {
      font-size: 16px;
      margin: 0;
      line-height: 18px;
      font-weight: 400;
      text-transform: capitalize;
      color: #ffffff; }
  .lyt-advertise-with-us .close-btn {
    display: none;
    position: absolute;
    top: 35px;
    right: 10px;
    width: 20px;
    height: 20px; }
    .lyt-advertise-with-us .close-btn img {
      width: 100%; }

@media only screen and (max-width: 768px) {
  .lyt-advertise-with-us {
    bottom: 0;
    position: absolute; }
    .lyt-advertise-with-us.active {
      position: fixed;
      top: -26px;
      z-index: 14; }
      .lyt-advertise-with-us.active .cont {
        display: block; }
      .lyt-advertise-with-us.active .close-btn {
        display: block; }
    .lyt-advertise-with-us .cont {
      display: none;
      height: 100%;
      padding: 20px 0px; }
      .lyt-advertise-with-us .cont .title {
        text-align: center;
        margin-bottom: 10px; }
      .lyt-advertise-with-us .cont .container {
        height: 100%; }
        .lyt-advertise-with-us .cont .container .swiper-container {
          height: 100%; }
          .lyt-advertise-with-us .cont .container .swiper-container .swiper-pagination {
            bottom: 40px; }
    .lyt-advertise-with-us .close-btn {
      display: none;
      position: absolute;
      top: 35px;
      right: 10px;
      width: 15px;
      height: 15px; }
      .lyt-advertise-with-us .close-btn img {
        width: 100%; } }
/* pages */
.pg-inner .bs-sec .sec-head .title {
  font-size: 30px;
  line-height: 32px;
  color: #f5811f;
  text-transform: uppercase; }

.pg-contact-us .bs-tab .nav-tabs {
  width: 600px; }

.home .article-slider .articles-list .item {
  width: 33.33%;
  padding: 0 20px;
  margin-bottom: 30px; }
  .home .article-slider .articles-list .item:before {
    content: none; }

@media only screen and (max-width: 768px) {
  .pg-inner .bs-sec .sec-head .title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px; }
  .pg-inner .lyt-aboutus.typ-hra .bs-tab .nav-tabs {
    width: 584px;
    margin-bottom: 20px; }
  .pg-inner .lyt-aboutus.typ-solutions .bs-tab .nav-tabs {
    width: 860px; } }

/*# sourceMappingURL=custom.css.map */
